body, html {}
header, footer {
    margin: 0 auto;
}
/* 위로가기 버튼 */
#popup {
    width: 45px; height: 45px;
    position: fixed;
    bottom: 70px; right: 70px;
    z-index: 900;
}
#popup a {}
#popup a img {width: 100%;}
/* header */
header {
    width: 100%;
    position: fixed;
    z-index: 500;
}
header .container {
    width: 1080px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
header .left h1 {
    width: 170px; height: 51px;
    margin-right: 30px;
}
header .left h1 a {}
header .left h1 a img {width: 100%;}
header .left nav {}
header .left nav .nav_bg {
    background: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    height: 240px;
    left: 0;
    top: 81px;
    z-index: 50;
}
header .left nav a {
    white-space: nowrap;
}
header .left nav .gnb {
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    position: relative;
    z-index: 500;
}
header .left nav .gnb > li {
    width: 130px;
}

header .left nav .gnb > li:last-child {margin-right: 0;}
header .left nav .gnb > li > a {
    font-size: 1.333rem;
    font-weight: 700;
    color: #fff;
}
header .left nav .gnb > li > .sub {}
header .left nav .gnb .inner .sub {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    position: absolute;
    height: 240px;
    top: 52px;
}
header .left nav .gnb > li:last-child .sub {
    flex-flow: column nowrap;
    padding: 25px 0;
}
header .left nav .gnb > li > .sub > li {
    width: 130px;
    height: 100%;
    padding: 25px 0;
}
header .left nav .gnb > li:last-child .sub > li {
    height: 20%;
    padding: 0;
}
header .left nav .gnb > li > .sub > li > a,
.sub2 li {margin-bottom: 20px;}
header .left nav .gnb > li > .sub > li > a {
    display: block;
    font-weight: 700;
    color: #fff;
}
header .left nav .gnb > li:last-child > .sub:hover,
header .left nav .gnb > li > .sub > li:hover {
    background-color: rgba(255,255,255,0.2);
}
header .left nav .gnb > li:last-child > .sub > li:hover {
    background: none;
}
header .left nav .gnb > li > .sub > li:hover > a {
    color: #FAFF00;
}
header .left nav .gnb > li > .sub > li > .sub2 {}
header .left nav .gnb > li > .sub > li > .sub2 li {}
.sub2 li a {color: #fff;}
.sub2 li a:hover {
    border-bottom: 1px solid #fff;
}
.sub2 li a:last-child {margin-bottom: 0;}
header .lnb {
    display: flex;
    align-items: center;
}
header .lnb .search_wrap {}
header .lnb .search_wrap > button, 
header .lnb a:nth-child(2) {
    margin-right: 20px;
    width: 23px; height: 23px;
}
header .lnb .search_wrap > button {background: none;}
header .lnb .search_wrap > button img {width: 100%;}
header .lnb .search_wrap .open_search {
    background: rgba(0,0,0,0.7);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 321px;
}
header .lnb .search_wrap .open_search .container {
    width: 1080px;
    margin: 0 auto;
}
header .lnb .search_wrap .open_search #search_close {
    position: absolute;
    top: 45px;
    right: 45px;
    width: 30px; height: 30px;
    background: none;
}
header .lnb .search_wrap .open_search #search_close img {width: 100%;}
header .lnb .search_wrap .open_search form {}
header .lnb .search_wrap .open_search form fieldset {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
}
header .lnb .search_wrap .open_search form fieldset #search {
    background: none;
    width: 450px;
    height: 55px;
    padding: 0 10px;
    border-bottom: 1px solid #fff;
    margin-right: 10px;
    color: #fff;
    font-size: 1.333rem;
}
header .lnb .search_wrap .open_search form fieldset #search::placeholder {
    color: #fff;
    font-size: 1.333rem;
}
header .lnb .search_wrap .open_search form fieldset #search_btn {
    background: none;
    width: 40px; height: 40px;
}
header .lnb .search_wrap .open_search form fieldset #search_btn img {width: 100%;}
header .lnb a {}
header .lnb a:last-child {width: 25px; height: 25px;}
header .lnb a img {width: 100%;}
/* footer */
footer {
    background: #f3f3f3;
}
footer .fnb_wrap {
    width: 1080px;
    padding: 70px 0;
    margin: 0 auto;
}
footer .fnb_t {
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}
footer .fnb_t a {
    letter-spacing: -0.02em;
    font-weight: 500;
    margin-right: 30px;
}
footer .fnb_t a:nth-child(3) {color: #aaa;}
footer .fnb_t a:last-child {margin-right: 0;}
footer .fnb_mid {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
footer .fnb_mid .left {}
footer .fnb_mid .left p {}
footer .fnb_mid .left p a {
    font-size: 28px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}
footer .fnb_mid .right {
    display: flex;
    align-items: center;
}
footer .fnb_mid .right > img {
    width: 148px; height: 30px;
    margin-right: 10px;
}
footer .fnb_mid .right a {
    display: block;
    width: 30px; height: 30px;
    background: url(../images/icon/ico_instargram.png) no-repeat center;
    text-indent: -9999px;
    transition: all 0.3s linear;
}
footer .fnb_mid .right a:hover {
    background: url(../images/icon/ico_instargram_fill.png) no-repeat center;
}
footer .fnb_btm {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
footer .fnb_btm p,footer .fnb_btm p a {
    font-size: 0.75rem;
    line-height: 16px;
}
footer .fnb_btm p:first-child {}
footer .fnb_btm p a {}