body, html {scroll-behavior: smooth;}
#pop_up {
    width: 45px;
    height: 45px;
    position: relative;
    z-index: 900;
}
#pop_up a {}
#pop_up a img {}
main {
    margin: 181px auto 100px;
    min-width: 1440px;
}
main h2 {
    font-size: 1.777rem;
    font-weight: 700;
    letter-spacing: -0.08em;
    text-align: center;
    margin-bottom: 50px;
}
main .container {
    display: flex;
    align-items: center;
    height: 700px;
    width: 100%;
}
main .store {
    background: #fff;
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.25));
    width: 400px;
    height: 700px;
    padding: 30px;
}
main .store form {}
main .store form fieldset {
    border: 1px solid #aaa;
    border-radius: 30px;
    padding: 0 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .store form fieldset #search {
    width: 280px; height: 40px;
    background: none;
}
main .store form fieldset #search::placeholder {
    color: #aaa;
    letter-spacing: -0.08em;
}
main .store form fieldset #search_btn {
    width: 20px; height: 20px;
    background: none;
}
main .store form fieldset #search_btn img {width: 100%;}
main .store .store_select {
    height: 600px;
    overflow-y: auto;
}
main .store .store_select a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 1px solid #aaa;
    letter-spacing: -0.08em;
}
main .store .store_select a.active {}
main .store .store_select a .txt {
    display: flex;
    flex-flow: column nowrap;
}
main .store .store_select a .txt em {
    margin-bottom: 10px;
    font-weight: 700;
}
main .store .store_select a .txt span {
    line-height: 21px;
}
main .store .store_select a p {}
main .store .store_select a p button {
    width: 20px; height: 20px;
    background: url(../images/icon/ico_storeP_off.png) no-repeat center;
    background-size: cover;
    transition: all 0.3s linear;
    text-indent: -9999px;
}
main .store .store_select a p .storeP_on {
    background: url(../images/icon/ico_storeP_on.png) no-repeat center;
}
main .map_wrap {
    position: relative;
    width: calc(100% - 400px); height: 700px;
}
main .map_contents {}
main .map_contents > div {}
main .map_contents > div .txt_bg {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    width: 400px; height: 100%;
    z-index: 200;
}
main .map_contents > div .txt_bg .txt {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 55px 55px 55px;
}
main .map_contents > div .txt h3 {
    color: #fff;
    font-size: 2.369rem;
    font-weight: 700;
    letter-spacing: -0.08em;
}
main .map_contents > div .txt p {
    color: #fff;
    letter-spacing: -0.08em;
}
main .map_contents > div .txt p:nth-child(2) {
    margin: 20px 0 10px;
    line-height: 21px;
}
main .map_contents > div .txt p:nth-child(4) {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0;
}
main .map_contents > div .txt p span {
    color: #B3D8DF;
    margin-right: 5px;
}
main .map_contents > div .txt p span:last-child {margin-right: 0;}
main .map_contents > div .txt a {
    display: block;
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.08em;
    text-align: center;
    width: 100px;
    padding: 10px 0;
    background: rgb(227, 15, 0);
    border-radius: 30px;
}
main .map_contents > div .txt a:hover {
    background: #fff;
    color: #e30f00;
    filter:drop-shadow(0 0 3px rgba(0,0,0,0.3));
}
main .map_contents > div .map {
    background-color: beige;
}
main .map_wrap #map {
    width: 100%;
    height: 700px;
    position: relative;
    z-index: 50;
}
