/* Tablet, Mobile */
/* Tablet */
@media screen and (max-width:1160px) {
    /* 1160px 이하일 경우 좌우 15px 여백적용 */
    header .container,
    .swiper_wrap,
    .new_menu,
    .footer {width: calc(100% - 30px);}
    .slide_txt .imgCls {width: 80%;}
    .slide_txt img {width: 80%;}
} /* 1160 end */
@media screen and (max-width:900px) {} /*  end */